/*
 * @Description  : 常态变量值
 * @Author       : XH
 * @Date         : 2021-05-31 14:51:28
 * @LastEditors  : XH
 * @LastEditTime : 2023-04-20 10:42:44
 */

/* Typography
------------------------------------------------------- */
$--font-family: Roboto, 'Segoe UI', Arial, 'Microsoft Yahei', sans-serif;
$--font-size-mini: 12px !default;
$--font-size-small: 13px !default;
$--font-size-base: 14px !default;
$--font-size-medium: 16px !default;
$--font-size-large: 18px !default;
$--font-size-extra-large: 20px !default;

/* Color System
------------------------------------------------------- */
$color-white: #FFFFFF;
$color-black: #000000;
$color-info: #E8F1FD;
$color-primary: #1A73E8;
$color-success: #34A853;
$color-warning: #F7A825;
$color-danger: #EC414D;
